<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396232712466-epp9v5qag8d2r0vq8hqs2sj4qq7svfni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396232712466-epp9v5qag8d2r0vq8hqs2sj4qq7svfni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396232712466-bdsea07vikp9jesk86dsjvtf4oiqkvhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASa_0oM2J4ORmJZB5wln3qPv9OmOj6qWA</string>
	<key>GCM_SENDER_ID</key>
	<string>396232712466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plusones</string>
	<key>PROJECT_ID</key>
	<string>plusones-28b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>plusones-28b9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396232712466:ios:94b6b60828824257cd53cb</string>
</dict>
</plist>